html{
    font-family: "Times New Roman", serif, sans-serif;
}
body{
    background-color: antiquewhite;
    text-align: center;
    /*background-image: url(ss.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    
}

/*#foo{
    color:purple;
}

[id="foo"]{
    color: cyan;
}

.container h1{
    color: green;
}


div h1{
    color: blue;
}*/


/*h1, h2, h3, p{
    color:red;
    line-height: 1rem;
    text-align: center;
    background: yellow;
    text-shadow: 2px 2px 5px white;
    font-family: sans-serif;
}*/

/*h2{
    font-size: 50px;
    font-style: italic;
}*/

h1{
    color:red;
    line-height: 2rem;
    font-family: 'Combo', serif, sans-serif;
}

h2,p{
    color:black;
    line-height: 2rem;
    font-family: 'Roboto', serif, sans-serif;
}

h3{
    color:red;
    line-height: 2rem;
    font-family: 'Lato', serif, sans-serif;
}

/*table{
    border: 3px;
    margin: auto;
}*/

.square{
    background-color: green;
    width: 100;
    height: 100;
    margin: auto;
    /*text-align: center;*/
    color: white;
}
#circle{
    color: darkred;
    font-size: 40px;
}
img{
    max-width: 100%;
    height: auto;
    width: auto;
    padding: 5px;
    opacity: 1;
    margin: 60px;
    /*display: block;
    margin: auto;*/
}
.borderImg{
    /*border: 10px solid green;
    border: 10px dotted green;
    border: 10px dashed yellow;*/
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid red;
    padding: 5px;
    
}
ul li{
    color: white;
    font-size: 15px;
}
ul > li{
    color: darkred;
}
ol > li{
    color: blue;
}
ul{
    display: inline-block;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: blueviolet;
    /*letter-spacing: 10px;*/
    word-spacing: 10px;
    text-transform: uppercase;
}

.formatting{
    font-size: 25px;
    line-height: 2em;
    color: black;
}

button{
    color: white;
    background: red;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    padding:10px 20px;
}


/*div.section .hola p{
    color: red;
}

div p.yay{
    color: blue;
}*/

.row{
    display: flex;
    width: 100%;
}

.row::after{
    display: block;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width:  100%;}

*{
    box-sizing: border-box;
}

[class*="col-"]{
    border: 2px solid red;
    padding: 15px;
    float:left; 
}









